@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  background-color: rgb(5, 56, 39) !important;
  min-width: 100vw;
  
}
#Logo{
  width: 50px;
  height: auto;
}
@media only screen and (min-width: 1400px)  {
  #Main{
    max-width: 90%;
    margin: 0 auto;
  }
}
#Main{
  max-width: 90vw;
  margin: 0 auto;
}

@media only screen and (max-width: 1400px)  {
  #Main{
    max-width: 100% !important;
    margin: 0 auto;
  }
  #root{
    width: 100vw !important;
    margin: 0;
  }
}
